.last-payments {
    display: flex;
    font-size: 99%;
    margin: 10px;
}

.table-last-payments {
    width: 100%;
}

.table-col-income {
    background-color: #CCFFCC !important;
}

.table-col-expense {
    background-color: #FFCCCC !important;
}