.login {
    text-align: left;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-text {
    text-align: left;
    width: 500px;
    font-size: 105%;
}

.login-form-wrapper {
    width: 500px;
}

.login-error-message {
    margin-top: 10px;
    color: red;
}

.login-button-registration {
    margin-left: 304px;
}